authy==2.1.2
Flask>=0.12
twilio~=6.0.0
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2
flask-cors==3.0.6
Flask-JWT==0.3.2
python-dotenv==0.9.1
passlib==1.7.1
flask-jwt-extended==3.12.1
flask-testing==0.7.1